/* header ================================================== */
#headerHome {
    width: calc(100vw - 80px);
    left: 80px;
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 13;
    display: flex;
    align-items: center;
    background-color: #F3F4F5;
}

#headerLogo {
    margin-left: 40px;
    cursor: pointer;
}

#headerTitle {
    margin-left: 18px;
    font-family: 'Righteous', cursive;
    font-size: 28px;
    margin-bottom: 5px;
    color: #01bbff;
    cursor: pointer;
}

#headerBtns {
    position: absolute;
    right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

#loginHeader {
    width: 120px;
    height: 40px;
    background-color: #f33f3f;
    font-family: 'Poppins', sans-serif;
    border-radius: 32px;
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#signUpHeader {
    width: 120px;
    height: 40px;
    background-color: rgb(181, 181, 181);
    font-family: 'Poppins', sans-serif;
    border-radius: 32px;
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
}