#mapContainer {
    position: fixed;
    right: 0px;
}

#testSpot {
    position: absolute;
    z-index: 20;
    width: 45px;
    height: 45px;
    background-color: black;
}

#mark {
    width: 45px;
    height: 45px;
    background-color: black;
    position: relative;
}